.about {
  .highlight {
    position: relative;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      height: 12px;
      width: 105%;
      bottom: 10px;
      background-color: #a0daa9;
      opacity: 0.5;
      left: 0;
    }
  }

  h1,
  .no-border {
    border-bottom: transparent !important;
  }
  h2 {
    margin-top: 36px;
    margin-bottom: 14px;
    position: relative;
    display: inline-block;
  }

  h2::before {
    position: absolute;
    display: inline-block;
    top: 0;
    right: -14px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    content: '';
  }

  .lendit::before {
    background-color: #17ccb4;
  }

  .karrot::before {
    background-color: #ff7e36;
  }

  .line::before {
    background-color: #07b53b;
  }

  .openknowl::before {
    background-color: #17a1ff;
  }

  h2 + ul {
    margin-top: 24px;
  }
  th {
    padding-top: 0px;
  }
}
